* {
  margin: 0;
  padding: 0;
  background-color: bisque;
  background-image: url("https://w0.peakpx.com/wallpaper/985/489/HD-wallpaper-premium-abstract-black-background-with-line-stripes-pattern-dynamic-tech-graphic-banner-design-vector-corporate-background.jpg");
}
.main .navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.aboutme {
  width: 200px;
  float: left;
  height: 70px;
}

.name {
  color: rgb(254, 253, 253);
  font-size: 10px;
  font-family: Arial;
  padding-left: 10px;
  float: left;
  padding-top: 100px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: circle;
  margin-left: 2px;
  margin-right: 27px;
  font-size: 14px;
  color: white;
}

ul li a {
  text-decoration: none;
  color: rgb(245, 245, 245);
  font-family: Arial;

  font-weight: bold;
}

ul li a:hover {
  color: rgb(70, 169, 93);
}

p {
  font-size: 20px;
  width: px;
  padding-left: 85px;
  float: center;
  color: white;
}

.mee {
  width: 300px;
  height: 300px;
  margin: 50px;
  padding: center;
}
